# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# Bot
BOT_TOKEN=your_telegram_bot_token
ADMIN_IDS=your_telegram_id

# PostgreSQL
POSTGRES_DB=postgres
# POSTGRES_HOST=localhost
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=your_pgadmin_password
PGADMIN_PORT=5050

# Redis
REDIS_DATABASE=1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default  # <- Не менять!
REDIS_PASSWORD=your_redis_password

# Proxy
IP_PROXY=your_proxy_ip
PORT_PROXY=your_proxy_port
LOGIN_PROXY=your_proxy_login
PASSWORD_PROXY=your_proxy_password
