.env
.env.dev
example_bot.py
example_bot2.py
some_test_file.py
venv311/
.venv311/
.mypy_cache/
__pycache__/
*.pyc
.vscode/
.DS_Store
.redis_data/
.postgres_data/
.pgadmin_data/
.postgres_data_dev/
.pgadmin_data_dev/
.idea/
